/*background.css*/
body						{background:url('../graphics/body_bg.jpg') center top;}


/*
#header_bg							{background:url('../graphics/header_bg.jpg') 	repeat-x center top;}

#content1_bg						{background:url('content1_bg.jpg') 	repeat-x center top;}

#content2_bg						{background:url('content2_bg.jpg') 	repeat-x center top;}

#footer_bg							{background:url('footer_bg.jpg') 	repeat-x center top;}
*/
