#column1_wrapper	{width:100%; 		border:0px;}
#left1col			{width:220px;		float:left;  padding:0px 0px 0px 20px;}
#left1pad			{width:0px;			float:left;}
#right1col			{width:0px;			float:right;}
#right1pad			{width:0px;			float:right;}
#center1col			{margin-left:250px; margin-right:0px; padding:0px 20px 0px 0px;}

#infoleft			{width:300px ;		float:left;  	margin:0px 0px 0px 6px; 	padding:0px 0px 0px 10px;	vertical-align:top; }
#inforight			{width:300px ;		float:right;	margin:0px 6px 0px 0px; 	padding:0px 10px 0px 0px;	vertical-align:top; }
#infocenter			{									margin:0px 330px 0px 330px ; padding:0px 0px 0px 0px;	vertical-align:top; }
#infocenter			{									*margin:0px 330px 0px 330px; padding:0px 0px 0px 0px;	vertical-align:top; }
