/* The Slider styles */
.nivoSlider 						{position:relative; width:}
.nivoSlider img 					{position:absolute;top:0px;left:0px; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink 		{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none;}

/* The slices in the Slider */
.nivo-slice 						{display:block;position:absolute;z-index:50;height:100%;}

/* Caption styles */
.nivo-caption 						{position:absolute;left:0px;top:233px;background:#000000;color:#ffffff; border-top:1px #555555 solid; opacity:0.6; /* Overridden by captionOpacity setting */width:500px;;z-index:89;}
.nivo-caption p 					{padding:13px;margin:0; font-size:20px;}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a 				{position:absolute;top:45%;z-index:99;cursor:pointer;}
.nivo-prevNav 						{left:0px;}
.nivo-nextNav 						{right:0px;}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a 					{position:relative;z-index:99;cursor:pointer;}
.nivo-controlNav a.active 			{font-weight:bold;}



#slider 							{width:520px; margin:0px 0px 0px 0px;position:relative;background:url('../graphics/loading.gif') no-repeat 50% 50%;}
#slider img 						{position:absolute;top:0px;left:0px;display:none;}
#slider a 							{border:0;}
#slider a							{display:block;}

.nivo-controlNav 					{position:absolute;right:20px;bottom:-24px;}
.nivo-controlNav a 					{border-style: none;border-color: inherit;border-width: 0;display:block;				width:10px;				height:10px;background:url('../graphics/bullets.png') no-repeat;text-indent:-9999px;				margin-right:3px;				float:left;}
.nivo-controlNav a.active 			{background-position:-10px 0;}

.nivo-directionNav a 				{border-style: none;border-color: inherit;border-width: 0;display:block;				width:32px;				height:34px;background:url('../graphics/arrows.png') no-repeat;text-indent:-9999px;}
a.nivo-nextNav 						{background-position:-32px 0;right:20px;}
a.nivo-prevNav 						{left:0px;}


#slider_component					{ background:url('../graphics/nivo_bg.png') no-repeat left top; width:520px;	height:320px;  padding:19px 0px 0px 20px;}
  /* note - padding: reduce the actual width of the slider ( FL_portfolio_bg.jpg ) by the left padding of the slider component */